.navigation{
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.nav-bar{
    width: 100%;
    z-index: 99;
    position: relative;
    background-color: #ff8400;
    display: block;
}

p{
    font-weight: 400;
    font-size: medium;
}

.button-container{
    gap: 1rem;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    width: 30%;
    height: auto;
    font-size: large;
    font-weight: 500;
}

.results{
    border-radius: 5px;
    border: solid 5px orange;
    box-shadow: 0 4px 8px orange;
    width: 75%;
    height: 200px;
    margin: 0;
    text-align: center;
}

strong{
    font-weight: 650;
    color: darkslategrey;
}

.nicer-bold{
    font-weight: 650;
    color: darkslategrey;
}